:root {
  --full-width: 480px;
  --break-point-phone: 480px;
  --fade-bg-color: rgba(51, 64, 74,.8);
}

@font-face {
  font-family: 'Nine Pin';
  src: url('/Nine Pin.ttf');
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #33404a;
  color: #eee;
}

small {
  font-size: .6em;
}

.react-draggable, .cursor {
  cursor: move;
}

.no-cursor {
  cursor: auto;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.hidden {
  display: none !important;
}

.game {
  position: absolute;
  top: 0;
  pointer-events: none;
  text-align: center;
}

.game * {
  pointer-events: auto;
}

.smooth-move {
  transition: all 1s ease-in-out;
}

.nine-pin {
  font-family: "Nine Pin", Monaco, monospace;
  letter-spacing: 2px;
}

.panel {
  background-color: var(--fade-bg-color);
  border-radius: 1.5em;
  box-shadow: 0px 5px 20px rgba(0,0,0,.5);
  font-family: "Nine Pin", Monaco, monospace;
  display: inline-block;
}

.score-board {
  top: 0;
  background-color: var(--fade-bg-color);
  display: flex;
  flex: row;
  align-items: center;
  height: 48px;
  /* max-width: var(--full-width); */
  padding: 0 0.5em;
  padding-bottom: 5px;
  box-shadow: 0px 5px 20px rgba(0,0,0,.5);
}

.score-board-label {
  font-size: 12px;
  opacity: 0.5;
  line-height: 1.5;
}

.stage .score {
  font-weight: bold;
}

.score-board-left {
  flex: 1;
  text-align: left;
  white-space: nowrap;
}

.score-board-center {
  flex: 2;
  text-align: right;
}
.score-board-right {
  flex: 0;
  text-align: right;
}

.toolbar {
  position: absolute;
  top: 4em;
  right: 1em;
  font-size: .8em;
  padding: 0.5em;
}

@media (min-width: 600px) {
  .toolbar {
    right: -8em;
  }
}

.toolbar * {
}

.toolbar-header {
  padding-top: .5em;
}

.toolbar-tool {
  line-height: 2;
  margin-top: .5em;
  padding: 0 .75em;
  border: 2px solid #888;
  border-radius: 1.5em;
  cursor: pointer;
}

.toolbar .selected {
  border-color: white;
}

.main-menu {
  background-color: var(--fade-bg-color);
  background-color: rgba(51, 64, 74,.9);
  text-align: center;
  padding: 1em;
  margin-top: 30%;
  box-shadow: 0px 0px 100px rgba(0,0,0,.9);
}

.main-menu * {
  margin-bottom: 1em;
}

.main-menu h6 {
  font-weight: bold;
}

.main-menu p {
  text-align: left;
  font-family: sans-serif;
  font-size: 13px;
}

.main-menu button {
  display: block;
  width: 100%;
}

button {
  color: white;
  border: 2px solid #888;

  font-family: "Nine Pin", Monaco, monospace;
  letter-spacing: 2px;

  background: transparent;
  border-radius: 1.5em;
  padding: 0 1em;
  margin-top: 1em;

  font-size: 1em;
  line-height: 2;


  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
  outline: none;
}

button:active {
  transform: scale(.95);
}

button::-moz-focus-inner {
  border: none;
}

button:hover,
button:focus {
  border-color: white;
}

[class^="icon-"] {
  display: block;
  margin-left: 0.5em;
  height: 2em;
  width: 2em;
  color: white;
  background-size: contain;
  background-color: #888;
}

.icon-expand {
  -webkit-mask:  url(/images/expand-solid.svg) no-repeat 50% 50%;
  mask: url(/images/expand-solid.svg) no-repeat 50% 50%;
}

.icon-caret-down {
  -webkit-mask:  url(/images/caret-square-down-regular.svg) no-repeat 50% 50%;
  mask: url(/images/caret-square-down-regular.svg) no-repeat 50% 50%;
}
